/*
 *= require bootstrap
 *= require font_awesome
 *= require creative/animate.min.css
 *= require creative/creative.css
 *= require_self
*/

.header-content-inner{
	padding: auto;
}

.text-uppercase{
	font-size: 6rem;
	text-transform: uppercase !important;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

#mainNav{
	background-color: #EF5332;
	border-style: none;
}

/*form Mail Chimp*/

#mc_embed_signup{
		display: flex;
		justify-content: center;
}

.mc-field-group{
	display: flex;
	justify-content: center;
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	color: #333333;
}

#mc-embedded-subscribe{
	display: center;
	justify-content: center;
	
}


.clear{
	display: flex;
	justify-content: center;
}

#mce-EMAIL{
	display: flex;
<<<<<<< HEAD
	justify-content: center; 
=======
	justify-content:center;
>>>>>>> 9cdf5a3913ebab60977d25fb4efc85868dd5d79f
}

#newsletter{
	display: flex;
	justify-content: center;
	padding-top: 5em;
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.form-control{
	height: auto;
	padding: 10px;
	width: 100%;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.form-control.email{
	height: auto;
	padding: 10px;
	width: 100%;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	margin-top: 10%;
}

#facebook{
	padding-right: 1.5%;
	padding-top: 3%;
	margin-left: 0%;
}