<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Rejoignez notre communauté et apprenez à développer ensemble !</h2>
                <hr class="light">
                <p class="text-faded">Nous vous apprenons la programmation rapidement grâce à notre méthode d’apprentissage en peer-to-peer. Apprenez des meilleurs pour développer de nouvelles compétences. C’est facile, même quand on part de zéro ! </p>
                <a href="https://www.thehackingproject.org/signup" class="btn btn-default btn-xl">Je m’inscris !</a>
            </div>
        </div>
    </div>
</section>

