<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">N'hésitez pas à nous contacter pour vos questions!</h2>
                <hr class="primary">
                <p>Vous voulez apprendre à coder mais vous avez encore des questions? N'hésitez pas à nous les poser, nous y répondrons le plus rapidement possible. </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>Charles Dacquay<br>
                06 95 46 60 80</p>
                <p>Félix Gaudé<br>
                06 28 01 33 40</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">bonjour@thehackingproject.org </a></p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center" id="facebook">                
                <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/thehackingproject/" >
                    <span class="fa fa-facebook"></span> Suivez-nous sur facebook
                </a>
            </div>
        </div>
    </div>
</section>

