<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="text-uppercase"><strong>L’informatique recrute beaucoup !</strong></h1>
            <hr>
            <p>Vous souhaitez faciliter la réinsertion professionnelle sur votre commune ?<br> 
The Hacking Project forme gratuitement des développeurs en seulement 11 semaines !</p>
            <a href="https://www.thehackingproject.org/" class="btn btn-primary btn-xl page-scroll">En savoir plus !</a>
        </div>
    </div>
</header>

