<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="text-uppercase"><strong>98 % des développeurs trouvent un emploi en moins de 3 mois.</strong></h1>
            <hr>
            <p>Vous cherchez un emploi  ?<br> 
                The Hacking Project vous fera de vous un développeur en seulement 11 semaines !</p>
            <a href="https://www.thehackingproject.org/signup" class="btn btn-primary btn-xl page-scroll">Je m’inscris !</a>
        </div>
    </div>
</header>