<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="text-uppercase"><strong>Savoir coder, c’est un vrai booster de carrière.</strong></h1>
            <hr>
            <p>Tu veux savoir programmer ?<br> 
The Hacking Project fera de toi un développeur en seulement 11 semaines !</p>
            <a href="https://www.thehackingproject.org/signup" class="btn btn-primary btn-xl page-scroll">Je m'inscris !</a>
        </div>
    </div>
</header>

