<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="text-uppercase"><strong>Internet n’est pas si compliqué que ça.</strong></h1>
            <hr>
            <p>Vous souhaitez comprendre comment fonctionne un site web ?<br> 
                The Hacking Project fera de vous un développeur en seulement 11 semaines !</p>
            <a href="https://www.thehackingproject.org/signup" class="btn btn-primary btn-xl page-scroll">Je m’inscris !</a>
        </div>
    </div>
</header>